*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color:rgba(0,0,0,0.8);
    width:100%;
    height:80px;
    position:fixed;

}
header h1{
    position:absolute;
    left:120px;
    line-height:80px;
    color:white;
}

nav{
    position:absolute;
    right:5vw;
    top:0;
    line-height:80px;
}
header a{
    color:white;
    margin-right:4vw;
    text-decoration:none;
}
header a:hover{
    color:#4ed9ff;
}


main{
    padding-top:80px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main h2{
    font-size:30px;
    margin:10px;
    color:#49cff4;
}
section{
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 20px;
    margin: 20px;
    border-left: #4ed9ff solid 5px ;
    line-height: 50px;
}
section h3{
    font-size: 24px;
    color: #1e4e5b;
}
section p{
    font-size: 18px;
    color: #333333;
}
section li{
    margin-left: 20px;
    font-size: 18px;
    color: #333333;
}
