*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color:rgba(0,0,0,0.8);
    width:100%;
    height:80px;
    position:fixed;

}
header h1{
    font-size:22px;
    position:absolute;
    left:120px;
    line-height:80px;
    color:white;
}

nav{
    position:absolute;
    right:5vw;
    top:0;
    line-height:80px;
}
header a{
    color:#b2bec3;
    margin-right:4vw;
    text-decoration:none;
}
header a:hover{
    color:#ff7675;
}

main{
    padding-top: 100px;
    padding-bottom: 60px;
    background-image:linear-gradient(rgba(20, 35, 30, 0.8), rgba(26, 28, 30, 0.95));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main h2{
    font-size:40px;
    margin:10px;
    color:#ffffff;
}
section{
    background-color: #25282c;
    border-radius: 12px;
    width: 60%;
    padding: 30px;
    margin: 30px;
    border-left: #e67e22 solid 5px ;
    line-height: 1.8;
}
section h3{
    font-size: 24px;
    color: #f39c12;
}
section li{
    margin-left: 35px;
    font-size: 18px;
    color: #cdced0;
}
section li strong{
    color:#ff7675;
    font-size: 17px;
}
section ul{
    margin:10px 0;
    padding-left: 10px;
    background-color: #333333;
    padding: 15px 10px;
    border-radius:15px;
}
section ul li{
    font-size: 16px;
    color: #a4b0be;
}
section ul code{
    background-color: #444444;
    color: #74b9ff;
    padding: 2px 6px;
    border-radius: 4px;
}
